// SITE FOOTER LAYOUT STYLES
////////////////////////////////////////////////////////////////
.site-footer{
    @extend %inverse;
    padding: $large-spacing 0;
    background: #000;
}

.site-footer-container {
    max-width: $max-width;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 500px 1fr; 
    padding: 0 $base-spacing;

    @include media($medium){
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.site-footer__info {
    margin-bottom: $base-spacing;
    font-size: .8em;
}

.site-footer__logo {
    width: 100%;
    margin: 0 $base-spacing;
    text-align: center;
 
    img {
        max-width: 300px; 
    }

    @include media($medium){
        margin: 0;
    }

    @include media($small){
        max-width: 200px;
    }
}