// GRID LAYOUT - Canned layout styles that can be used anywhere
////////////////////////////////////////////////////////////////

.l-container {
  position: relative;
  display: block;
  max-width: $max-width;
  padding: 0 $base-spacing;
  margin: auto;
}

// css grid layouts
.l-container--grid{
  display: grid;
  margin: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $base-spacing;

  @include media($small){
    grid-template-columns: repeat(6, 1fr);
  }
}

.l-split {
  grid-column: span 6;
}